<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Details</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <h1>Blog Details</h1>
        <a href="/blogs">Back to Blogs</a>
    </header>
    <main class="blog-details">
        <h3>Username: <%= post.username %></h3>
        <p><%= post.content %></p>
    </main>
    <footer>© 2024 Blog Your Way</footer>
</body>
</html>
